<!DOCTYPE html>
{% load viclob_tags wagtailcore_tags static %}

{% get_site_root as site_root %}
{% get_home_page as homepage %}
{% get_current_user as user%}

<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="zh-CN"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <% block title %>
    <title>云途VDP</title>
    <% endblock %>
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
</head>

<body>

<!--header/s-->
<header class="vdp-header">

    {% get_site_root as site_root %}
    {% top_menu parent=site_root calling_page=self %}

</header>
<!--header/e-->

{% block content %}

{% endblock %}


<!—foot/s—>
<footer class="vdp-foot">
    <dl class="txt vdp-con clearfix">
        <dt class="text">
        <div>Copyright © 2017 云途VDP Inc.</div>
        <div>京公网安备<span class="pl-10 pr-10">11010802022756</span>号</div>
        <div>京 ICP 备<span class="pl-10 pr-10">16065008</span>号</div>
        </dt>
        <dd class="share">
            <a href="http://weibo.com/q19543q" target="_blank" class="icon-sina"><img src="{% static 'images/sina.png' %}" style="width:40px" alt=""></a>
            <p>官方微博</p>
        </dd>
    </dl>
</footer>
<!—foot/e—>

</body>


{% block js %}

{% endblock %}

</html>

