{% extends "home/base.html" %}

{% load viclob_tags wagtailcore_tags static %}

{% load wagtailimages_tags %}

<!--{% load static wagtailuserbar %}-->


{% block content %}

<!--con /s-->
<div class="vdp-contain vdp-contain-bg">
    <div class="vdp-con vdp-case">
        <h3 class="dvp-title02">合作案例</h3>
        <p class="txt">下面的小伙伴都在用云途VDP，期待你的加入。</p>
        <div class="parter">
            <span class="p-btn-l arrow-l-big"></span>
            <span class="p-btn-r arrow-r-big"></span>
            <div class="swiper-container01">
                <ul class="swiper-wrapper clearfix">
                    {% for caseItem in self.case_items.all %}
                    <li class="swiper-slide">
                        <p class="name">{{caseItem.title}}</p>
                        <div class="cp-logo">
                            {% image caseItem.logo width-200 height-100 %}
                        </div>
                        <span style="display:none">{{caseItem.intro}}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="cp-introduce">
                <div class="dbox">
                    <span class="arrow"></span>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="case">
            <h4 class="title">案例展示</h4>
            <span class="btn-l arrow-l-small"></span>
            <span class="btn-r arrow-r-small"></span>
            <div class="swiper-container02">
                <div class="swiper-wrapper clearfix">
                    <div class="swiper-slide clearfix">
                        {% for videoItem in self.case_videos.all %}
                        <div class="video-box">
                            {{ videoItem.code }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-slide clearfix">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--con /e-->

{% endblock%}

{% block js %}
<script src="{% static 'js/libs/jquery.min.js' %}"></script>
<script src="{% static 'js/plugs/swiper.jquery.min.js' %}"></script>
<script src="{% static 'js/projects/case.js' %}"></script>
<script>
    $(function(){
        var intro = $('.swiper-slide-active span').text()
        $('.dbox p').text(intro)


        // show video image

        $('.btn-l').trigger('click')

        setTimeout(function(){
            $('.btn-r').trigger('click')

        }, 1000)




    })
</script>
{% endblock %}
