{% extends "home/base.html" %}
{% load viclob_tags wagtailcore_tags static %}


{% block content %}

<!--con /s-->
    <div class="vdp-contain vdp-contain-bg vdp-rel">
        <div class="vdp-con vdp-about-us">
            <p class="icon"><i class="icon-home"></i></p>
            <h3 class="dvp-title">公司简介</h3>
            <div class="info">
				<p class="info">互联网日益成为社会、生活、商业的基础设施，基于网络的海量内容需要更全面、高效、精准的连接用户。</p>
				<p class="info">我们致力于构建多维度、全覆盖的网络内容发行平台，服务企业、PGC等内容方客户，将内容通过海量精准渠道快速发行触达全网用户，并通过数据挖掘与分析反哺内容生产与制作。</p>
				<p>我们相信，只有打通渠道发行边界，才能重塑内容的生态传播价值。</p>
				<p>云途VDP，连接内容与每一个人。</p>
			</div>
            <p class="icon"><i class="icon-dibiao"></i></p>
            <h3 class="dvp-title">联系我们</h3>
            <ul class="link mt-40 clearfix">
				<li class="email">
					<span class="circle"><i class="icon-email"></i></span>
					<p class="title mt-30">服务邮箱</p>
					<p class="txt mt-15">service@viclob.com<br></p>
				</li>
				<li class="hotline">
					<span class="circle"><i class="icon-tel"></i></span>
					<p class="title mt-20">客服热线</p>
					<p class="txt mt-10">13910934238<br>17316098730</p>
				</li>
				<li class="address">
					<span class="circle"><i class="icon-address"></i></span>
					<p class="title mt-20">公司地址</p>
					<p class="txt mt-10">北京市海淀区海淀大街<br>27号8号楼4层</p>
				</li>
			</ul>
        </div>
        <div class="vdp-about-con-bottom"></div>
    </div>
    <!--con /e-->

{% endblock %}
