{% extends "home/base.html" %}
{% load viclob_tags wagtailcore_tags %}
{% get_current_user as user%}

{% block title %}
<title>{{ self.title }} - 云途VDP</title>
{% endblock %}


{% block content %}

{% if self.body %}
<!--con /s-->
<div class="vdp-contain vdp-contain-info">
    {% include "home/include/streamfield.html" with content=self.body %}
</div>
<!--con /e-->
{% endif %}

{% endblock %}


{% block js %}

<script>
    var descContent = '{% for child in self.body %}
                       {% if child.block_type == 'intro' %}
                       {{ child.value.source }}
                       {% endif %}
                       {% endfor %}';

    function shareFriend() {
        WeixinJSBridge.invoke('sendAppMessage',{
            "desc": descContent,
        }, function(res) {
            //_report('send_msg', res.err_msg);
        })
    }
    function shareTimeline() {
        WeixinJSBridge.invoke('shareTimeline',{
            "desc": descContent,
        }, function(res) {
               //_report('timeline', res.err_msg);
        });
    }
    function shareWeibo() {
        WeixinJSBridge.invoke('shareWeibo',{
            "content": descContent,
        }, function(res) {
            //_report('weibo', res.err_msg);
        });
    }
    // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        // 发送给好友
        WeixinJSBridge.on('menu:share:appmessage', function(argv){
            shareFriend();
        });
        // 分享到朋友圈
        WeixinJSBridge.on('menu:share:timeline', function(argv){
            shareTimeline();
        });
        // 分享到微博
        WeixinJSBridge.on('menu:share:weibo', function(argv){
            shareWeibo();
        });
    }, false);

</script>
{% endblock %}
