{% extends "home/base.html" %}

{% load viclob_tags wagtailcore_tags static %}

{% load wagtailimages_tags %}

<!--{% load static wagtailuserbar %}-->


{% block content %}
{% get_site_root as site_root %}

{% news_sub_navitems calling_page=self as subs%}
{% provider_sub_navitems calling_page=self as provider_subs%}


<!--con /s-->
    <div class="vdp-contain vdp-contain-info">
        <div class="vdp-con clearfix vdp-news">
            <ul class="new-list clearfix">

                {% for content in contents %}
                <li class="clearfix">
                    <div class="img-box">
                        <a href="{% pageurl content %}">
                        {% image content.thumbnail width-400 height-300%}
                        </a>
                    </div>
                    <div class="infos">
                        <h1><a href="{% pageurl content %} "> {{ content.title }} </a></h1>
                        <p class="txt mt-10">
                            {% for child in content.body %}
                            {% if child.block_type == 'intro' %}
                                {{ child }}
                            {% endif %}
                            {% endfor %}
            
                        </p>
                        <p class="txt-bottom"><span class="line">/</span><span class="editer">{{ content.author }}</span>·<span class="time"> {{ content.date | date:"Y-m-d" }} </span></p>
                    </div>
                </li>

                {% endfor %}
            </ul>
        <div class="more"><a href="javascript:void(0)" id="more" class="btn-more">点击加载更多</a></div>
        </div>
    </div>
<!--con /e-->


{% endblock %}


{% block js %}
<script src="{% static 'js/libs/jquery.min.js' %}"></script>

<script>
    $(function(){
        var currentPage = 1;

        var pageNum;

        $.get('/news/?ajax=1&page=1', function(data){
                pageNum = data.pageNum

                if(currentPage >= pageNum){
                    $('#more').hide()
                }


            })

        $('#more').on('click', function(){
            currentPage = currentPage + 1
            $.get('/news/?ajax=1&page='+currentPage, function(data){

                $.each(data.list, function(k, v){
                    var news =
                        '<li class="clearfix">'
                    +   '<div class="img-box">'
                    +   '<a href="'+ v.url +'">'
                    +   '<img src="'+ v.thumbnail +'" />'
                    +   '</a>'
                    +   '</div>'
                    +   '<div class="infos">'
                    +   '<h1><a href="'+ v.url +'">'+ v.title +'</a></h1>'
                    +   '<p class="txt mt-10">'
                    +   v.intro
                    +   '</p>'
                    +   '<p class="txt-bottom"><span class="line">/</span><span class="editer">'+ v.author +'</span>·<span class="time"> '+ v.date +'</span></p>'
                    +   '</div></li>'

                    $('.new-list').append(news)

                })

                if(currentPage >= pageNum){
                    $('#more').hide()
                }
            })

        })

    })

</script>
{% endblock %}