{% extends "home/base.html" %}

{% load viclob_tags wagtailcore_tags static %}

{% block content %}

<!--con /s-->
    <div class="vdp-contain">
        <h3 class="dvp-title01">连接内容与每一个人</h3>
        <p class="vdp-home-txt">网络内容发行服务商---精准渠道，瞬间触达，深度运营，数据分析</p> 
        <div class="vdp-con clearfix">
            <div class="vdp-home clearfix">
                <div id="chart01" class="charts float-l"></div>
                <span class="txt txt01">VDP</span>
                <span class="txt txt02"><i class="icon-camera"></i></span>
                <span class="txt txt03"><i class="icon-headphones"></i></span>
                <span class="txt txt04"><i class="icon-tv"></i></span>
                <span class="txt txt05"><i class="icon-mobile"></i></span>
                <span class="txt txt06"><i class="icon-display"></i></span>
                <span class="txt txt07"><i class="icon-laptop"></i></span>
                <span class="txt txt08"><i class="icon-tablet"></i></span>
                <span class="txt txt09"><i class="icon-video-camera"></i></span>
                <span class="txt txt10"><i class="icon-mic"></i></span>
                <a href="{% pageurl homepage %}" class="btn">点击进入</a>
            </div>
        </div>
    </div>
<!--con /e-->


{% endblock %}


{% block js %}

    <script src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script src="{% static 'js/plugs/echarts-all-3.js' %}"></script>
    <script src="{% static 'js/projects/home.js' %}"></script>

{% endblock %}
