{% extends "home/index_base.html" %}

{% load viclob_tags wagtailcore_tags static %}
{% load wagtailimages_tags %}

{% block content %}
<!--con /s-->
    <div class="vdp-contain">
        <!--banner/s-->
        <div class="solute-banner">
            <div class="vdp-con vdp-rel">
                <div class="sun rotate"><img src="{% static 'images/sun.png' %}"></div>
                <div class="cloud01 move-lr-01"><img src="{% static 'images/yun.png' %}"></div>
                <div class="cloud02 move-lr-02"><img src="{% static 'images/yun.png' %}"></div>
                <div class="cloud03 move-lr-03"><img src="{% static 'images/yun.png' %}"></div>
                <div class="cloud04 move-lr-04"><img src="{% static 'images/yun.png' %}"></div>
            </div>
        </div>
        <!--banner/e-->
        <!--vdp-info/s-->
        <div class="vdp-con">
            <ul class="vdp-info clearfix">
                <li>
                    <div class="title">海量渠道</div>
                    <div class="txt">
                        <p>视频网站</p>
                        <p>移动新媒体</p>
                        <p>OTT互联网电视</p>
                        <p>户外大屏</p>
                    </div>
                </li>
                <li>
                    <div class="title">瞬间触达</div>
                    <div class="txt">
                        <p>一对一服务</p>
                        <p>7*24小时相应</p>
                        <p>1小时全网发行</p>
                        <p>1分钟问题反馈</p>
                    </div>
                </li>
                <li>
                    <div class="title">深度运营</div>
                    <div class="txt">
                        <p>内容推荐</p>
                        <p>粉丝互动</p>
                        <p>专业包装</p>
                        <p>病毒时传播</p>
                    </div>
                </li>
                <li>
                    <div class="title">数据分析</div>
                    <div class="txt">
                        <p>用户</p>
                        <p>行为</p>
                        <p>地域</p>
                        <p>终端</p>
                    </div>
                </li>
            </ul>
        </div>
        <!--vdp-info/e-->
        <!--net/s-->
        <div class="net">
            <div class="vdp-con clearfix">
                <h3 class="dvp-title">发行网络</h3> 
                <dl class="net-list">
                    <dd><img src="{% static 'images/meipai.gif' %}"></dd>
                    <dd><img src="{% static 'images/ku6.gif' %}"></dd>
                    <dd><img src="{% static 'images/iqiyi.gif' %}"></dd>
                    <dd><img src="{% static 'images/letv.gif' %}"></dd>
                    <dd><img src="{% static 'images/uc.gif' %}"></dd>
                    <dd><img src="{% static 'images/meipai.gif' %}"></dd>
                    <dd><img src="{% static 'images/ku6.gif' %}"></dd>
                    <dd><img src="{% static 'images/iqiyi.gif' %}"></dd>
                    <dd><img src="{% static 'images/letv.gif' %}"></dd>
                    <dd><img src="{% static 'images/uc.gif' %}"></dd>
                    <dd><img src="{% static 'images/meipai.gif' %}"></dd>
                    <dd><img src="{% static 'images/ku6.gif' %}"></dd>
                    <dd><img src="{% static 'images/iqiyi.gif' %}"></dd>
                    <dd><img src="{% static 'images/letv.gif' %}"></dd>
                    <dd><img src="{% static 'images/uc.gif' %}"></dd>
                    <dd><img src="{% static 'images/iqiyi.gif' %}"></dd>
                    <dd><img src="{% static 'images/letv.gif' %}"></dd>
                    <dd><img src="{% static 'images/uc.gif' %}"></dd>
                </dl>
            </div>
        </div>
        <!--net/e-->
        <div class="vdp-con clearfix">
            <h3 class="dvp-title">数据统计</h3>
            <div id="chart02" class="charts float-l"></div>
            <div id="chart01" class="charts float-r"></div>
            <div id="chart03" class="charts float-l"></div>
            <div id="chart04" class="charts float-r"></div>
        </div>
    </div>
    <!--con /e-->
{% endblock %}


{% block js %}
    <script src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script src="{% static 'js/plugs/bubbler.jquery.js' %}"></script>
    <script src="{% static 'js/plugs/echarts-all-3.js' %}"></script>
    <script src="{% static 'js/plugs/china.js' %}"></script>
    <script src="{% static 'js/projects/solution.js' %}"></script>
{% endblock %}